<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tru3pl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <tru3pl.My.MySettings>
            <setting name="cnstr" serializeAs="String">
                <value>Integrated Security=true;Initial Catalog=tru;Server=localhost\PRI</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>secureftp.torque.eu</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>ftptrutex</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>xkazW09H</value>
            </setting>
            <setting name="SshHostKeyFingerprint" serializeAs="String">
                <value>ssh-rsa 2048 53:a0:ba:88:57:32:c8:7b:33:ac:6d:4a:e5:35:23:e2</value>
            </setting>
        </tru3pl.My.MySettings>
    </applicationSettings>
</configuration>